# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/apps/**/node_modules
/apps/**/dist
/apps/**/build
/apps/**/out
/apps/**/.next
/apps/**/.vercel
/apps/**/.env   
/apps/**/.env.local
/apps/**/.env.development.local
/apps/**/.env.test.local
/apps/**/.env.production.local


/packages/**/node_modules
/packages/**/dist
/packages/**/build  
/packages/**/out
/packages/**/.next
/packages/**/.vercel
/packages/**/.env
/packages/**/.env.local
/packages/**/.env.development.local
/packages/**/.env.test.local    
/packages/**/.env.production.local
    

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
